/*
 * Copyright © 2016 Cask Data, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
 */
@import '../../../styles/variables.less';

.plus-button-modal {
  .cask-configurable-tab {
    .tab-header-icon {
      margin-right: 5px;
    }
    .tab-content {
      overflow-y: auto;

      .tab-pane { width: 100%; }
      .all-tab-content {

        .body-section {
          text-align: center;
          padding: 10px;
          display: flex;
          flex-wrap: wrap;

          &.empty-section {
            display: block;
          }
          .error-message {
            width: 100%;
            margin-top: 30%;
          }

          h4{
            position: absolute;
            top: 45%;
            left: 55%;
          }
        }
      }
    }
  }
}
