/*
 * Copyright © 2016 Cask Data, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
 */
@import '../../styles/variables.less';
@grey-theme-color:  #e3e3e3;
@white-color: #ffffff;
@overview-pane-border-radius: 6px;

.overview-pane-card {

  margin: 20px 0 0 20px;
  display: inline-block;
  min-width: 190px;
  height: 80px;
  box-shadow: 0 10px 15px -5px rgba(0,0,0,0.4);
  border-radius: @overview-pane-border-radius;

  .overview-pane-card-header {
    background-color: @cdap-orange;
    width: 100%;
    height: 35px;
    padding: 5px;
    display: inline-flex;
    align-items: center;
    border-top-right-radius: @overview-pane-border-radius;
    border-top-left-radius: @overview-pane-border-radius;
  }

  .overview-pane-card-name {
    float: left;
    color: @white-color;
    font-size: 18px;
    margin-left: 3px;
  }

  .overview-pane-card-version {
    margin-left: auto;
    color: @white-color;
    font-size: 14px;
    border-radius: 10px;
    padding-right: 7px;
    padding-left: 7px;
    background-color: #c13a06;
  }

  .overview-pane-card-body {
    background-color: @white-color;
    height: 45px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    color: #AAAAAA;
    border-bottom-right-radius: @overview-pane-border-radius;
    border-bottom-left-radius: @overview-pane-border-radius;

    .icon-container {
      text-decoration: none;
      color: inherit;
      width: 50%;
      height: 100%;
      font-size: 1.5em;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      &:hover {
        i {
          color: #656565;
        }
      }

    }

    .icon-container-right {
        border-left: solid 1px @grey-theme-color;
    }
  }
}

.overview-pane-card.hidden {
  visibility: none;
}
