/*
 * Copyright © 2016 Cask Data, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
 */
.cask-wizard {
  height: 100%;
  .wizard-body {
    display: flex;
    height: 90%;
    border: 0;

    .wizard-steps-header {
      width: 150px;
      background-color: #efefef;
    }
    .wizard-steps-content {
      width: ~"calc(100% - 150px)";
      width: ~"-moz-calc(100% - 150px)";
      width: ~"-webkit-calc(100% - 150px)";
      background-color: #fff;
      height: 100%;

      .form-horizontal {
        // wizard-navigation height = 32px. This is to ensure that the previous and next buttons remain in the same position to start with while switching the tabs.
        height: ~"calc(100% - 32px)";
        height: ~"-webkit-calc(100% - 32px)";
        height: ~"-moz-calc(100% - 32px)";
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
      }
      .wizard-navigation {
        .btn {
          padding: 6px 20px;
          margin: 0 5px;

          .fa {
            margin: 0 5px;
          }
        }
      }
    }
  }
  .wizard-footer {
    width: 100%;
    height: 20%;

    .card-action-feedback {
      &.DANGER,
      &.SUCCESS,
      &.LOADING {
        height: 100%;
      }
      &.LOADING {
        border-top-color: gray;
      }
    }
    .done-button { margin-top: 25px;}
    &.success {
      width: 100%;
      position: relative;
      top: -100%;
      right: 0;
      height: 100%;
      background: rgba(0,0,0,0.8);
      color: white;

      .result-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-40%, -60%);
        width: 60%;
        height: 40%;

        ul {
          list-style: none;

          > li {
            margin: 10px;
            font-size: 18px;
            color: white;
          }
        }
      }
    }
  }
}
