/*
 * Copyright © 2015-2016 Cask Data, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
 */
@import "../../styles/variables.less";
.navbar-list {

  @media (max-width: 1260px) {
    li {
      a {
        padding-right: 20px;
      }
    }
  }
  margin-left: 15px;
  float: left;
  margin-bottom: 0;
  height: 50px;

  li {
    display: inline-block;
    line-height: 50px;
    &.disabled {
      cursor: not-allowed;
      padding-left: 0;
      padding-right: 40px;
      color: #cccccc;
      font-size: 14px;
    }
  }
  a {
    padding-left: 0;
    padding-right: 40px;
    text-decoration: none;
    font-size: 14px;
    &:hover,
    &:focus {
      color: @cdap-orange;
      text-decoration: none;
    }
    &.old-ui-link {
      font-size: 11px;
    }
  }
}
