/*
 * Copyright © 2016 Cask Data, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
 */

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  position: relative;

  .pagination-content {
    display: inline-block;
    width: 100%;
  }

  .change-page-panel {
    display: inline-block;
    position: absolute;
    top: 0;
    cursor: pointer;
    /*Page height minus footer height*/
    height: 100%;
    z-index: 300;
    opacity: 0;
    padding-left: 5px;
    padding-right: 5px;
    &.first-page,
    &.last-page {
      display: none;
    }
    &:hover,
    &.pressed {
      opacity: 0.8;
    }
  }
  .change-page-panel-left {
    left: 0;
  }
  .change-page-panel-right {
    right: 0;
  }
  .page-change-arrow-container {
    position: relative;
    top: 50%;
  }

  .disabled-page-change {
    visibility: hidden;
  }

}
