/*
 * Copyright © 2016 Cask Data, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
 */

@entity-card-border: 1px solid #cccccc;
@jump-button-container-size: 80px;

.entity-cards {
  padding: 0;
  text-align: left;
  border-radius: 0;
  position: relative;
  box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, 0.3);
  width: 300px;
  margin: 5px;
  display: inline-block;

  &.active {
    -webkit-box-shadow: 0px 0px 8px 0 rgba(255,102,0,1);
    -moz-box-shadow: 0px 0px 8px 0 rgba(255,102,0,1);
    box-shadow: 0px 0px 8px 0 rgba(255,102,0,1);
  }

  // FIXME: This will be eventually removed when all the entities are clickable.
  &.datapipeline,
  &.application {
    .cask-card {
      .card-header { cursor: pointer; }
    }
  }
  .cask-card {
    padding: 0;
    .card-header {
      color: white;
    }
    .card-body { padding: 0; }
  }
  .entity-information {
    height: 35px;
    border-bottom: @entity-card-border;
  }

  .jump-button-container,
  .entity-id-container {
    display: inline-block;
  }

  .jump-button-container {
    width: @jump-button-container-size;
    height: 100%;

    .jump-button { margin-top: 3px; }
  }

  .entity-id-container {
    width: ~"calc(100% - @{jump-button-container-size})";
    width: ~"-webkit-calc(100% - @{jump-button-container-size})";
    width: ~"-moz-calc(100% - @{jump-button-container-size})";
    padding-left: 10px;

    h4 {
      font-weight: 500;
      font-size: 15px;
      margin: 0;
      vertical-align: middle;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 18px;

      &.with-version { line-height: initial; }
    }

    small {
      font-size: 9px;
      color: #999999;
      display: block;
      margin-top: 2px;
    }
  }

  .metrics-container {
    display: flex;

    .metric-item {
      flex-grow: 1;
      text-align: center;
      padding: 0;

      p {
        margin-bottom: 4px;
        color: #333333;
      }
      .metric-header {
        font-weight: 500;
        font-size: 11px;
        margin-bottom: 3px;
        color: #999999;
      }

      &:not(:last-child) {
        border-right: @entity-card-border;
      }
    }
  }

  .fast-actions-container {
    background-color: white;
    padding: 2px 0;
    border-top: 1px solid #CCC;

    .btn-link {
      text-decoration: none;
      font-size: 13px;
      color: #4f5050;
      padding: 0;
      span { margin: 0 20px; }
    }

    h4 {
      margin: 0;
    }
  }
}
