/*
 * Copyright © 2016 Cask Data, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
 */

@import '../../styles/variables.less';

.market-place-package-card {
  margin: 5px;
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  cursor: pointer;
  padding: 0;
  position: relative;
  width: 100%;

  &:hover {
    box-shadow: 1px 2px 10px 0 @cdap-orange;
  }
  /*
    width of each card = 100% - (padding of parent) - (combined margin of all cards in the row)
    margin for each card is 5px (as mentioned above).
    So the combined margin for all cards in say ,
      4 column layout : 5px + (5px + 5px) + (5px + 5px) + 5px = (3 * 10px)
      5 column layout : 5px + (5px + 5px) + (5px + 5px) + (5px + 5px) + 5px = (4 * 10px)
      6 column layout : 5px + (5px + 5px) + (5px + 5px) + (5px + 5px) + (5px + 5px) + 5px = (5 * 10px)
      n column layout : (n-1 * 10px);
  */
  @media (min-width: 1601px)  {
    width: ~"calc((100% - 20px - 10px - (5 * 10px)) / 6)";
  }
  @media (min-width: 1201px) and (max-width: 1600px) {
    width: ~"calc((100% - 20px - 10px - (3 * 10px)) / 4)";
  }
  @media (min-width: 993px) and (max-width: 1200px) {
    width: ~"calc((100% - 20px - 10px - (2 * 10px)) / 3)";
  }
  @media(min-width: 768px) and (max-width: 992px) {
    width: ~"calc((100% - 20px - 10px - 10px) / 2)";
  }

  .cask-card {
    padding: 0;
    .card-body {
      padding-top: 25px;
    }
  }

  .experimental-banner {
    top: -25px;
    left: -25px;
    width: 47px;
    display: inline-block;
    position: relative;
    color: white;
    background-color: #ff6600;
    text-shadow: 0px 1px 2px #bbb;
    -webkit-box-shadow: 0px 2px 4px #888;
    -moz-box-shadow: 0px 2px 4px #888;
    box-shadow: 0px 2px 4px #888;
    font-size: 12px;
    display: block;

    &:before {
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
      left: 0px;
      top: 100%;
      border-width: 5px 5px;
      border-style: solid;
      border-color: #c55306 #c55306 transparent transparent;
    }
  }
  .package-icon-container {
    // This is to maintain a consistent height across all entities
    // as the image sizes could be differing.
    height: 87px;
    overflow: hidden;
    img {
      width: 87px;
    }
  }
  .package-metadata-container {
    .package-label {
      font-size: 12px;
      font-weight: bold;
    }
  }
  &.expanded {

    .experimental-banner {
      left: -26px;
      top: -18px;
      text-align: center;
    }
    cursor: default;

    .cask-card {
      &.card-LG {
        z-index: 2;

        .card-body {
          width: 100%;
          z-index: 2;
          background: #e8e8e8;
          text-align: left;
          box-shadow: 2px 2px 7px;

          .package-metadata-container {
            margin-bottom: 10px;
          }
        }
      }
    }
    &.position-right {
      .cask-card.card-LG {
        right: 0px;
        margin-bottom: 20px;
        .card-body {
          .package-icon-container {
            float: right;
            margin-right: 0;
          }
        }
      }
    }
    &.position-left {
      .cask-card.card-LG {
        left: 0px;
        margin-bottom: 20px;
      }
    }
    .package-icon-container {
      display: inline-block;
      vertical-align: top;
      margin-right: 20px;
    }
    .package-metadata-container {
      display: inline-block;
      width: ~"calc(100% - 145px)";
      width: ~"-webkit-calc(100% - 145px)";
      width: ~"-moz-calc(100% - 145px)";

      > .package-label {
        font-size: 17px;
      }
      .package-metadata {
        margin-top: 10px;
      }
    }
    .package-footer {
      button {
        margin-left: 10px;
      }
    }

    .package-animation-appear {
      opacity: 0.01;
      transition: opacity 300ms ease-in;
    }

    .package-animation-appear.package-animation-appear-active {
      opacity: 1;
    }

    .package-animation-enter {
      opacity: 0.01;
    }

    .package-animation-enter.package-animation-enter-active {
      opacity: 1;
      transition: opacity 500ms ease-in;
    }

    .package-animation-leave {
      opacity: 1;
    }

    .package-animation-leave.package-animation-leave-active {
      opacity: 0.01;
      transition: opacity 300ms ease-in;
    }
  }
}
