/*
 * Copyright © 2016 Cask Data, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
 */
@import '../../styles/variables.less';
@module-color-lightgrey: #f1f1f1;
@spinner-icon-dimension: 50px;

.overview-pane {
  margin-top: 25px;
  flex: 0.5;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  background-color: @module-color-lightgrey;

  > span {
    font-size: 20px;
    font-weight: 600;
    background-color: white;
    padding: 10px;
  }

  .spinner-container {
    width: @spinner-icon-dimension;
    height: @spinner-icon-dimension;
    margin: 0 auto;
    font-size: @spinner-icon-dimension;
    position: relative;
    top: 45%;
    transform: translateY(-50%);
  }

  .spinner {
    margin: auto;
    font-size: 50px;
  }

  .overview-pane-container {
    margin-right: 20px;
    overflow: auto;
    padding: 0px 0 20px 0;
    height: 100%;

    &.empty-container {
      display: flex;
      align-items: center;
      justify-content: center;
      h3 {
        color: darkgray;
      }
    }
  }

  .hidden {
    visibility: none;
  }
}
