/*
* Copyright © 2016 Cask Data, Inc.
*
* Licensed under the Apache License, Version 2.0 (the "License"); you may not
* use this file except in compliance with the License. You may obtain a copy of
* the License at
*
* http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
* WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
* License for the specific language governing permissions and limitations under
* the License.
*/

@import "../../styles/variables.less";
@plus-button-color: #52b746;
@namespace-dropdown-color: #333;
.cask-header {
  .active {
    color: #ff6600;
  }
  .navbar {
    .header-actions {
      .navbar-list {
        .navbar-item {
          &.environment {
            position: absolute;
            right: 410px;
            color: rgba(117, 117, 117, 0.7);
            font-size: 13px;
            color: hsla(0,0%,46%,.7);
            span {
              &:nth-child(2) {
                margin-left: 5px;
              }
            }
          }
        }
      }
      .plus-button {
        color: @plus-button-color;
        &:after {
          content: 'NEW';
          position: absolute;
          background: #ff6600;
          font-size: 9px;
          color: white;
          border-radius: 4px;
          top: 11px;
          padding: 2px;
          font-weight: bold;
          font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
      }
      .navbar-cog:hover,
      .menu-open {
        color: @cdap-orange;
      }
      .navbar-cog {
        position: relative;
      }
      .navbar-cog-arrow {
        position: absolute;
        right: 10px;
        top: 40px;
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #ffffff;
      }
      .hidden {
        visibility: hidden;
      }
      .settings-dropdown {
        .dropdown-menu {
          outline: none;
          color: @namespace-dropdown-color;
          position: absolute;
          left: -73px;
          border: none;
          margin: 0;

          .dropdown-divider {
            border-top: 1px solid #f0f0f0;
            width: 90%;
            margin-left: 7px;
          }
          a {
            text-decoration: inherit;
            color: inherit;
            cursor: auto;
            padding-right: 0;
          }
          .dropdown-item {
            line-height: 36px;
            &:hover {
              background-color: #f5f5f5;
              color: #000000;
            }
          }
          .dropdown-icon {
            padding: 0 10px;
          }
          .dropdown-name-row {
            padding-left: 10px;
            cursor: default;
            &:hover {
              background-color: transparent;
            }
            .dropdown-name {
              color: #FC6600;
              margin-left: 5px;
            }
            .dropdown-name-icon {
              padding-left: 5px;
            }
          }
        }
      }
    }
  }
}
