/*
 * Copyright © 2016 Cask Data, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
 */
@import '../../WizardModal/WizardModal.less';

 // Specific hack for hydrator.
body {
   .modal {
      .wizard-modal {
         &.modal-dialog {
            &.informational-wizard {
               margin-top: @wizard-modal-margin-top;

               .modal-body {
                  .license-container {
                     background: white;
                     height: 100%;
                     padding: 20px;
                     h2 {
                       margin-top: 10px;
                       font-weight: bold;
                     }
                     .license-text {
                        height: ~"calc(100% - 100px)";
                        height: ~"-webkit-calc(100% - 100px)";
                        height: ~"-moz-calc(100% - 100px)";
                        margin-bottom: 10px;
                        overflow-y: auto;
                     }
                     .agree-btn {
                        background: #ff6600;
                        border-color: #ff6600;
                        display: inline-block;
                        padding-right: 30px;
                        padding-left: 30px;
                     }
                     .back-to-cdap-link {
                        display: inline-block;
                        margin-left: 10px;
                        color: #ff6600;
                        cursor: pointer;
                     }
                  }
               }
            }
         }
      }
   }
}
