/*
 * Copyright © 2016 Cask Data, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
 */

@import '../../styles/variables.less';

.stat-container {
  text-align: center;
  display: block;

  .hidden {
    visibility : hidden;
  }

  .stat {
    min-width: 40px;
    font-size: 16px;
    color: @metadata-pane-primary-text-color;
    display: block;
  }

  .date-stat {
    font-size: 14px;
  }

  .stat-label {
    display: block;
    color: @metadata-pane-secondary-text-color;
    font-size: 13px;
  }
}
