/*
 * Copyright © 2016 Cask Data, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
 */
@import '../../styles/variables.less';
.market-entity-actions {
   .action-container {
     display: inline-flex;
     flex-direction: column;

     .step {
       font-size: 16px;
       margin-bottom: 5px;
       .badge {
         &.completed {
           background-color: @state-success-text;
         }
       }
     }
     .action {
       display: inline-block;
       width: 115px;
       margin: 0 10px;
       padding: 0;
       font-weight: 500;
       cursor: pointer;

       .action-image {
         width: 100px;
         height: 100px;
         background-color: grey;
       }

       .action-icon {
         background-color: #dddddd;
       }
       .action-description {
         height: 40px;
         background-color: #eeeeee;
         font-size: 11px;
         padding: 2px 4px;
       }
       .fa {
         &[class*="icon-"],
         &.fa-upload,
         &.fa-tasks,
         &.fa-info {
           font-size: 30px;
           margin: 5px 0;
         }
       }
       .btn {
         font-weight: 500;
         color: #666666;
       }
     }
   }
}
