/*
 * Copyright © 2016 Cask Data, Inc.
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not
 * use this file except in compliance with the License. You may obtain a copy of
 * the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
 * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
 * License for the specific language governing permissions and limitations under
 * the License.
 */

@import "../../styles/variables.less";

.card-action-feedback {
  @feedback-height: 35px;
  .generate-color(@color) {
    background-color: @color;

    .expand-icon {
      background-color: darken(@color, 15%);
    }
  }

  .main-message {
    height: @feedback-height;
    line-height: @feedback-height;
    border: 0;
  }
  .feedback-icon {
    margin: auto 10px;
  }
  .expand-icon {
    width: 30px;
  }

  .feedback-icon,
  .expand-icon {
    text-align: center;
  }

  &.SUCCESS,
  &.WARNING,
  &.DANGER {
    color: white;
  }

  &.SUCCESS {
    .main-message {
      .generate-color(@brand-success);
    }
  }

  &.WARNING {
    .main-message {
      .generate-color(@brand-warning);
    }
  }

  &.DANGER {
    .main-message {
      .generate-color(@brand-danger);
    }
  }

  &.LOADING {
    .main-message {
      .generate-color(#dddddd);
  }
  }

  .stack-trace {
    background-color: #2c3e50;
    height: ~"calc(100% - 35px)";
    height: ~"-webkit-calc(100% - 35px)";
    height: ~"-moz-calc(100% - 35px)";
    overflow: auto;

    pre {
      background-color: #2c3e50;
      margin-bottom: 0;
      white-space: pre-wrap;
      color: #cdcdcd;
      border: 0;
      border-radius: 0;
    }
  }
}
